.date-picker {
    font-size: 1rem;
    text-overflow: ellipsis;
    padding: 14px 16px;
    border: 1px solid #6F7E8C;
    border-radius: 4px;
    cursor: pointer;
}

.date-picker:hover {
    border-color: #1c1e21;
}

.date-picker:focus,
.date-picker:active {
    border: 1px solid #1976d2 ;
    outline: 1px solid #1976d2 ;
}